.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgb(236, 198, 198);
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    color: #e45882;
}

.buttons {
    display: grid;
    border-bottom: 1px solid rgb(237, 166, 166);
    border-left: 1px solidrgb(237, 166, 166);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
    border-top: 1px solid rgb(237, 166, 166);
    border-right: 1px solid rgb(237, 166, 166);
}

.button {
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: rgb(244, 177, 190);
    color: white;
}

.button:hover {
    background-color: #e45882;
    color: white;
    transition: 0.5s ease-in-out;
}