@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body{
  background-color: #2d2d2d;
  background-image: url(images/Mor.jpg);
  color: #ffc266;
  font-family: 'Play', sans-serif;
  background-repeat: no-repeat;
  height: 100vh;

}
#myProgress {
  width: 420px;
   background-color: #cc561b; 
  cursor: pointer;
  border-radius: 10px;
}

#myBar {
  width: 0%;
  height: 5px;
  background-color: #ffc266;
  border-radius: 10px;
}

 .logo {
  fill: red;
} 

.btn-action{
  cursor: pointer;
  padding-top: 10px;
  width: 30px;
}

.btn-ctn, .infos-ctn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.infos-ctn{
padding-top: 20px;
}

.btn-ctn > div {
 padding: 5px;
 margin-top: 18px;
 margin-bottom: 18px;
}

.infos-ctn > div {
 margin-bottom: 8px;
 color: #ffc266;
}

.first-btn{
  margin-left: 3px;
}

.duration{
  margin-left: 10px;
}

.title{
  margin-left: 10px;
  width: 210px;
  text-align: center;
}

.player-ctn{
  border-radius: 15px;
  width: 420px;
  padding: 10px;
  background-color: #373737;
  margin:auto;
  margin-top: 100px;
}

.playlist-track-ctn{
  display: flex;
  background-color: #464646;
  margin-top: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.playlist-track-ctn > div{
  margin:10px;
}
.playlist-info-track{
  width: 80%;
}
.playlist-info-track,.playlist-duration{
  padding-top: 7px;
  padding-bottom: 7px;
  color: #e9cc95;
  font-size: 14px;
  pointer-events: none;
}
.playlist-ctn{
   padding-bottom: 20px;
}
.active-track{
  background: #4d4d4d;
  color: #ffc266 !important;
  font-weight: bold;
  
}

.active-track > .playlist-info-track,.active-track >.playlist-duration,.active-track > .playlist-btn-play{
  color: #ffc266 !important;
}

.playlist-btn-play{
  pointer-events: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
.fas{
  color: #ffc266;
  font-size: 20px;
}
/* 
.navbar{
    display: flex;
    align-items: center;

}
 .navbar li {
    list-style: none;
    padding : 0 30px;
    
 }

 .navbar li a {
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    color: black;
 }

#neonText {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
}
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {

        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

  .header {
    display : flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    box-shadow:5px 10px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.logo {
    padding: 10px;
    width: 70px;
} */