@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
} 

h1{
    font-size: 50px;
    line-height:64px;
    color: black;
}

h3{
    font-weight: normal;
    text-transform: uppercase;
    color: #ECF03A;
    text-shadow: 0px 0px 4px #ecf03a, 0px 0px 14px #ff6d24;
    letter-spacing: 0.025em;
    font-size: 50px;
}

h4{
    font-size: 50px;
    line-height:64px;
    color: black;
}

h6{
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px ;
    text-transform: uppercase;
    color: #ECF03A;
    text-shadow: 0px 0px 4px #ecf03a, 0px 0px 14px #ff6d24;
    letter-spacing: 0.025em;
    font-size: 50px;
    text-align: center;
}

p{
    font-size: 20px;
    color: rgb(129, 118, 118);
     margin-top: 15px ;
    text-align: center;
}


body{
    width : 100%;
   
}

.logo {
    padding: 10px;
    width: 70px;
}

.header {
    display : flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    box-shadow:5px 10px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
.navbar{
    display: flex;
    align-items: center;

}
 .navbar li {
    list-style: none;
    padding : 0 30px;
    
 }

 .navbar li a {
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    color: black;
 }

#neonText {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
}
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {

        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

#neonButton {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #e94bb4;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: 0px 0px 4px #ecf03a, 0px 0px 14px #ff6d24;
    margin: 0;
    letter-spacing: 0.025em;
    font-size: 40px;
    font-weight: 700;
    margin: 100px;
        
}

#neonButton:hover {
    color: #ecf03a;
    background: #e94bb4;
    box-shadow: 0 0 10px #e94bb4, 0 0 40px #e94bb4, 0 0 80px #e94bb4;
    transition-delay: 1s;
}

#neonButton span {
    position: absolute;
    display: block;
}
#neonButton span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}


#neonButton:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

#neonButton span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

#neonButton:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#neonButton span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

#neonButton:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}


#neonButton span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

#neonButton:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


.hero{
    background-image: url(images/Screenshot\ \(523\).png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position:center;
    padding: 0 80px;
    display:flex ;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/*styling before footer*/
#feature .fe-box img{
    width: 450px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 100px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    color: aliceblue
}
#feature .fe-box img:hover{
    box-shadow: 0px 0px 230px rgb(86 151 214 / 10%), 0px 10px 30px rgb(65, 73, 93), inset 0px 0px 6px rgb(0 183 255 / 16%);
    transition: box-shadow 0.3s cubic-bezier(0.35, 0.08, 0, 1);
    transform: scale(1.1);
}

#feature .fe-box h6 {
    text-align: center;
}

/*Styling the form*/
.wrapper{
    background-image:url(images/contact.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form {
    background: #fff;
    box-shadow: 0px 0px 230px rgba(86, 214, 124, 0.1), 0px 10px 30px rgb(55, 60, 56), inset 0px 0px 6px rgba(0, 255, 26, 0.16);
    max-width: 450px;
    padding-top: 70px;
    padding-bottom: 5px;
    position: center; 
    animation: bounce 1.5s infinite;
    width: 400px;
    text-align: center;
    background-color:#292a2b;
  }
  ::-webkit-input-placeholder {
    font-size: 1.3em;
  }

  .pageTitle {
    color: #fff;
    font-size:2em;
    font-weight:bold;
    text-shadow: 0px 0px 4px #ecf03a, 0px 0px 14px #a5ddb4;
    margin-bottom: 60px;

    
  }

   #contactme{
    margin-left: 22%;
  } 


.form-name {
    color: white;
    background-color: hsl(0, 0%, 14%);
    animation: bounce 1.5s infinite;
    box-shadow: 0px 0px 230px rgba(86, 214, 124, 0.1), 0px 10px 30px rgb(55, 60, 56), inset 0px 0px 6px rgba(0, 0, 0, 0.16);
  }
  .form-name:hover {
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .email {
    color: white;
    background-color: hsl(0, 0%, 14%);
    height: 2em;
    animation: bounce 1.5s infinite;
    box-shadow: 0px 0px 230px rgba(86, 214, 124, 0.1), 0px 10px 30px rgb(55, 60, 56), inset 0px 0px 6px rgba(0, 0, 0, 0.16);
  }
  
  .email:hover {
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .message {
    color: white;
    background-color: hsl(0, 0%, 14%);
    overflow: hidden;
    height: 10rem;
    animation: bounce 1.5s infinite;
    box-shadow: 0px 0px 230px rgba(86, 214, 124, 0.1), 0px 10px 30px rgb(55, 60, 56), inset 0px 0px 6px rgba(0, 0, 0, 0.16);
  }
  
  .message:hover {
    height: 12em;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border: none;
    transition: all 0.5s ease 0s;
  }
  
  .submit {
    width: 200px;
    color: white;
    background-color: #8eb5a0;
    font-size: 20px;
    animation: flicker 1.5s infinite alternate;
    box-shadow: 0px 0px 230px rgba(86, 214, 124, 0.1), 0px 10px 30px rgb(55, 60, 56), inset 0px 0px 6px rgba(0, 0, 0, 0.16);
  }
  
  .submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 400px;
    border-radius: 0%;
    color: #ecf03a;
    background: #e94bb4;
    box-shadow: 0 0 10px #e94bb4, 0 0 40px #ba8dab, 0 0 80px #e94bb4;
    transition-delay: 0.2s;
  }
  
  @keyframes bounce {
    0% {
      tranform: translate(0, 4px);
    }
    50% {
      transform: translate(0, 8px);
    }
  } 

  #contact-header{
    position:static;
  }


  .gallery a img{
    width: 400px;
    height: 400px;
    /* margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 30px; */
    object-fit: cover;
    float: left;
    transition: 0.2s linear;

  }

  .gallaryBody{
    background-color: black;
  }

  .gallery a img:hover{
    /* box-shadow: 0px 0px 230px rgb(86 151 214 / 10%), 0px 10px 30px rgb(65, 73, 93), inset 0px 0px 6px rgb(0 183 255 / 16%);
    transition: box-shadow 0.3s cubic-bezier(0.35, 0.08, 0, 1); */
    transform: scale(1.1);
  }
  .gallery a{
    text-decoration: none;
  }

  .gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }


  /*Styling footer*/

.site-footer h6
{
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;
  text-align: left;
}

.text-justify{
  text-align: left;
}
.f-container{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap;

}

.site-footer{
  background-color: black;
  padding:40px 100px ;

}

.links ul {
  list-style-type: none;

}

.links ul li {
  margin: 20px 20px;
}


/*styling chapters page*/

/* external css: flickity.css */
/* * { box-sizing: border-box; } */

.carousel {
  background: #EEE;
}
.gallery-cell {
  margin-right: 20px;
  overflow: hidden;
  height: 510px;

}
.gallery-cell img {
  display: block;
  height: 400px;
}
@media screen and ( min-width: 768px ) {
  .gallery-cell img {
    height: 400px;
  }
}
.chapters-body{
  background-color: black;
}
.gallery-cell a img:hover{
  transform: scale(1.1);
}

h2{
  text-align: center;
  color: white;
  padding-bottom: 30px;
  padding-top: 40px;
  font-size: 20px;
}


/*Styling music player*/

/* #sheetpage{
  background-color: #2d2d2d;
  color: #ffc266;
  font-family: 'Roboto', sans-serif;
} */


#myProgress {
  width: 420px;
   background-color: #d9d9f2; 
  cursor: pointer;
  border-radius: 10px;
}

#myBar {
  width: 0%;
  height: 5px;
  background-color: #ffc266;
  border-radius: 10px;
}

/* .logo {
  fill: red;
} */

.btn-action{
  cursor: pointer;
  padding-top: 10px;
  width: 30px;
}

.btn-ctn, .infos-ctn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.infos-ctn{
padding-top: 20px;
}

.btn-ctn > div {
 padding: 5px;
 margin-top: 18px;
 margin-bottom: 18px;
}

.infos-ctn > div {
 margin-bottom: 8px;
 color: #ffc266;
}

.first-btn{
  margin-left: 3px;
}

.duration{
  margin-left: 10px;
}

.title{
  margin-left: 10px;
  width: 210px;
  text-align: center;
}

.player-ctn{
  border-radius: 15px;
  width: 420px;
  padding: 10px;
  background-color: #373737;
  margin:auto;
  margin-top: 100px;
}

.playlist-track-ctn{
  display: flex;
  background-color: #464646;
  margin-top: 3px;
  border-radius: 5px;
  cursor: pointer;
}
.playlist-track-ctn:last-child{
  border: 1px solid #ffc266;
}

.playlist-track-ctn > div{
  margin:10px;
}
.playlist-info-track{
  width: 80%;
}
.playlist-info-track,.playlist-duration{
  padding-top: 7px;
  padding-bottom: 7px;
  color: #e9cc95;
  font-size: 14px;
  pointer-events: none;
}
.playlist-ctn{
   padding-bottom: 20px;
}
.active-track{
  background: #4d4d4d;
  color: #ffc266 !important;
  font-weight: bold;
  
}

.active-track > .playlist-info-track,.active-track >.playlist-duration,.active-track > .playlist-btn-play{
  color: #ffc266 !important;
}


.playlist-btn-play{
  pointer-events: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
.fas{
  color: #ffc266;
  font-size: 20px;
}









 